/*Looks*/
.tag-search {width:225px;}
.tag-search-button {border-radius:0px 4px 4px 0px;color:#000;}

.tag-holder li {
	background-color:#ccc;
	color:#000;
	font-size:18px;
}
.tag-holder li:hover {}

.tag-holder li a {background-color:transparent;color:#000;}
.tag-holder li a:hover {background-color:#f00;}
.remove-Tag {font-size:18px;}

/*Structure*/
.tag-holder {margin:0px;padding:0px;position:relative;}
.tag-holder li {display:block;float:left;padding-left:5px;margin:0px 0px 10px 10px;border-radius:5px;vertical-align:center;position:relative;}
.tag-holder li:hover {cursor:default;}
.tag-holder li a {margin-left:5px;border-radius:0px 5px 5px 0px;}